@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-turquoise-background: #0C1D1D;
    --color-turquoise-foreground: #102828;
    --color-turquoise-main: #3f9897;
    --color-turquoise-dock: #113B3B;
    --color-complementary: #FFE66D;
    --color-gray-body: #C0C0C0;
    --color-white: #f8f8f8;

    --color-datatype-temperature: #E79446;
    --color-datatype-humidity: #8CD790;
    --color-datatype-lightlevel: #58A4B0;
    --color-datatype-pressure: #F9B4ED;
    --color-datatype-co2: #533E2D;

    --color-clear: #00000000
}
